In [1]:
import pandas as pd

In [2]:
#file = "../Data/Debt_Service/FRB_FOR.csv"
url = "https://storage.api.eriscape.com/v1/AUTH_andrew/laughing-umbrella/Data/Debt_Service/FRB_FOR.csv"

In [3]:
data = pd.read_csv(url)

In [4]:
data.head(10)

,Series Description,"Financial obligations ratio, seasonally adjusted","Consumer debt service ratio, seasonally adjusted","Debt service ratio, seasonally adjusted","Mortgage debt service ratio, seasonally adjusted"
0,Unit:,Percent,Percent,Percent,Percent
1,Multiplier:,1,1,1,1
2,Currency:,NaN,NaN,NaN,NaN
3,Unique Identifier:,FOR/FOR/DTF%YPD.Q,FOR/FOR/DTFC%YPD.Q,FOR/FOR/DTFD%YPD.Q,FOR/FOR/DTFM%YPD.Q
4,Time Period,DTF%YPD.Q,DTFC%YPD.Q,DTFD%YPD.Q,DTFM%YPD.Q
5,1990Q1,16.900919,5.635607,11.649150,6.013543
6,1990Q2,16.875752,5.540660,11.600660,6.060000
7,1990Q3,16.888249,5.481259,11.583131,6.101873
8,1990Q4,16.960268,5.419602,11.604449,6.184847
9,1991Q1,16.960137,5.355239,11.578032,6.222793

In [5]:
df = data.drop([0, 1, 2, 3, 4])

In [6]:
df.head()

,Series Description,"Financial obligations ratio, seasonally adjusted","Consumer debt service ratio, seasonally adjusted","Debt service ratio, seasonally adjusted","Mortgage debt service ratio, seasonally adjusted"
5,1990Q1,16.900919,5.635607,11.649150,6.013543
6,1990Q2,16.875752,5.540660,11.600660,6.060000
7,1990Q3,16.888249,5.481259,11.583131,6.101873
8,1990Q4,16.960268,5.419602,11.604449,6.184847
9,1991Q1,16.960137,5.355239,11.578032,6.222793

In [7]:
df.rename(columns={'Series Description':'Period'}, inplace=True)

In [8]:
# Extract Year from Period
df['Year'] = df['Period'].str.extract('([0-9]+)',expand=False).str.strip()

# Extract Quarter from Period
df['Quarter'] = df['Period'].str.extract('(Q\d)',expand=False).str.strip()

In [9]:
#df.drop(['Period'], axis=1).head()
df.head()

,Period,"Financial obligations ratio, seasonally adjusted","Consumer debt service ratio, seasonally adjusted","Debt service ratio, seasonally adjusted","Mortgage debt service ratio, seasonally adjusted",Year,Quarter
5,1990Q1,16.900919,5.635607,11.649150,6.013543,1990,Q1
6,1990Q2,16.875752,5.540660,11.600660,6.060000,1990,Q2
7,1990Q3,16.888249,5.481259,11.583131,6.101873,1990,Q3
8,1990Q4,16.960268,5.419602,11.604449,6.184847,1990,Q4
9,1991Q1,16.960137,5.355239,11.578032,6.222793,1991,Q1

### Resample monthly and interpolate values

In [10]:
import datetime
df['Period'] = pd.to_datetime(df['Period'])
df.set_index('Period',inplace=True)

In [11]:
df.head()

,"Financial obligations ratio, seasonally adjusted","Consumer debt service ratio, seasonally adjusted","Debt service ratio, seasonally adjusted","Mortgage debt service ratio, seasonally adjusted",Year,Quarter
Period,,,,,,
1990-01-01,16.900919,5.635607,11.649150,6.013543,1990,Q1
1990-04-01,16.875752,5.540660,11.600660,6.060000,1990,Q2
1990-07-01,16.888249,5.481259,11.583131,6.101873,1990,Q3
1990-10-01,16.960268,5.419602,11.604449,6.184847,1990,Q4
1991-01-01,16.960137,5.355239,11.578032,6.222793,1991,Q1

 Need a better interpolation method. This is a simple fill.
 http://pandas.pydata.org/pandas-docs/version/0.13/generated/pandas.DataFrame.interpolate.html

In [12]:
resampled_df = df.resample('M').nearest()
#resampled_df = df.resample('M')
#resampled_df.interpolate(method='linear', limit_direction='both', axis=0)

In [13]:
resampled_df
#new_df

,"Financial obligations ratio, seasonally adjusted","Consumer debt service ratio, seasonally adjusted","Debt service ratio, seasonally adjusted","Mortgage debt service ratio, seasonally adjusted",Year,Quarter
Period,,,,,,
1990-01-31,16.900919,5.635607,11.649150,6.013543,1990,Q1
1990-02-28,16.875752,5.540660,11.600660,6.060000,1990,Q2
1990-03-31,16.875752,5.540660,11.600660,6.060000,1990,Q2
1990-04-30,16.875752,5.540660,11.600660,6.060000,1990,Q2
1990-05-31,16.888249,5.481259,11.583131,6.101873,1990,Q3
1990-06-30,16.888249,5.481259,11.583131,6.101873,1990,Q3
1990-07-31,16.888249,5.481259,11.583131,6.101873,1990,Q3
1990-08-31,16.960268,5.419602,11.604449,6.184847,1990,Q4
1990-09-30,16.960268,5.419602,11.604449,6.184847,1990,Q4
1990-10-31,16.960268,5.419602,11.604449,6.184847,1990,Q4
1990-11-30,16.960137,5.355239,11.578032,6.222793,1991,Q1
1990-12-31,16.960137,5.355239,11.578032,6.222793,1991,Q1
1991-01-31,16.960137,5.355239,11.578032,6.222793,1991,Q1
1991-02-28,16.818953,5.238545,11.434237,6.195692,1991,Q2
1991-03-31,16.818953,5.238545,11.434237,6.195692,1991,Q2
1991-04-30,16.818953,5.238545,11.434237,6.195692,1991,Q2
1991-05-31,16.703078,5.137354,11.318681,6.181328,1991,Q3
1991-06-30,16.703078,5.137354,11.318681,6.181328,1991,Q3
1991-07-31,16.703078,5.137354,11.318681,6.181328,1991,Q3
1991-08-31,16.479746,5.017251,11.117333,6.100082,1991,Q4
1991-09-30,16.479746,5.017251,11.117333,6.100082,1991,Q4
1991-10-31,16.479746,5.017251,11.117333,6.100082,1991,Q4
1991-11-30,16.160733,4.867179,10.855581,5.988402,1992,Q1
1991-12-31,16.160733,4.867179,10.855581,5.988402,1992,Q1
1992-01-31,16.160733,4.867179,10.855581,5.988402,1992,Q1
1992-02-29,15.971127,4.774439,10.680886,5.906447,1992,Q2
1992-03-31,15.971127,4.774439,10.680886,5.906447,1992,Q2
1992-04-30,15.971127,4.774439,10.680886,5.906447,1992,Q2
1992-05-31,15.826784,4.702399,10.540050,5.837651,1992,Q3
1992-06-30,15.826784,4.702399,10.540050,5.837651,1992,Q3
...,...,...,...,...,...,...
2016-05-31,15.718325,5.613637,10.072342,4.458705,2016,Q3
2016-06-30,15.718325,5.613637,10.072342,4.458705,2016,Q3
2016-07-31,15.718325,5.613637,10.072342,4.458705,2016,Q3
2016-08-31,15.660994,5.655924,10.044246,4.388322,2016,Q4
2016-09-30,15.660994,5.655924,10.044246,4.388322,2016,Q4
2016-10-31,15.660994,5.655924,10.044246,4.388322,2016,Q4
2016-11-30,15.533528,5.634538,9.978798,4.344260,2017,Q1
2016-12-31,15.533528,5.634538,9.978798,4.344260,2017,Q1
2017-01-31,15.533528,5.634538,9.978798,4.344260,2017,Q1
2017-02-28,15.533483,5.656053,9.988513,4.332461,2017,Q2
2017-03-31,15.533483,5.656053,9.988513,4.332461,2017,Q2
2017-04-30,15.533483,5.656053,9.988513,4.332461,2017,Q2
2017-05-31,15.509082,5.656659,9.975555,4.318896,2017,Q3
2017-06-30,15.509082,5.656659,9.975555,4.318896,2017,Q3
2017-07-31,15.509082,5.656659,9.975555,4.318896,2017,Q3
2017-08-31,15.468131,5.664424,9.951370,4.286946,2017,Q4
2017-09-30,15.468131,5.664424,9.951370,4.286946,2017,Q4
2017-10-31,15.468131,5.664424,9.951370,4.286946,2017,Q4
2017-11-30,15.331046,5.610941,9.861202,4.250261,2018,Q1
2017-12-31,15.331046,5.610941,9.861202,4.250261,2018,Q1
2018-01-31,15.331046,5.610941,9.861202,4.250261,2018,Q1
2018-02-28,15.327817,5.593365,9.851405,4.258039,2018,Q2
2018-03-31,15.327817,5.593365,9.851405,4.258039,2018,Q2
2018-04-30,15.327817,5.593365,9.851405,4.258039,2018,Q2
2018-05-31,15.328742,5.618410,9.857297,4.238888,2018,Q3
2018-06-30,15.328742,5.618410,9.857297,4.238888,2018,Q3
2018-07-31,15.328742,5.618410,9.857297,4.238888,2018,Q3
2018-08-31,15.325038,5.633093,9.882049,4.248955,2018,Q4
2018-09-30,15.325038,5.633093,9.882049,4.248955,2018,Q4
2018-10-31,15.325038,5.633093,9.882049,4.248955,2018,Q4

In [14]:
#upsampled = df.resample('M')
#interpolated = upsampled.interpolate(method='linear')
#interpolated

In [15]:
yet_another_df = resampled_df.reset_index()
yet_another_df.head()

,Period,"Financial obligations ratio, seasonally adjusted","Consumer debt service ratio, seasonally adjusted","Debt service ratio, seasonally adjusted","Mortgage debt service ratio, seasonally adjusted",Year,Quarter
0,1990-01-31,16.900919,5.635607,11.649150,6.013543,1990,Q1
1,1990-02-28,16.875752,5.540660,11.600660,6.060000,1990,Q2
2,1990-03-31,16.875752,5.540660,11.600660,6.060000,1990,Q2
3,1990-04-30,16.875752,5.540660,11.600660,6.060000,1990,Q2
4,1990-05-31,16.888249,5.481259,11.583131,6.101873,1990,Q3

In [16]:
yet_another_df['Month'] = yet_another_df['Period'].dt.month
yet_another_df['Month'] = yet_another_df['Month'].apply(str)
yet_another_df.head()

,Period,"Financial obligations ratio, seasonally adjusted","Consumer debt service ratio, seasonally adjusted","Debt service ratio, seasonally adjusted","Mortgage debt service ratio, seasonally adjusted",Year,Quarter,Month
0,1990-01-31,16.900919,5.635607,11.649150,6.013543,1990,Q1,1
1,1990-02-28,16.875752,5.540660,11.600660,6.060000,1990,Q2,2
2,1990-03-31,16.875752,5.540660,11.600660,6.060000,1990,Q2,3
3,1990-04-30,16.875752,5.540660,11.600660,6.060000,1990,Q2,4
4,1990-05-31,16.888249,5.481259,11.583131,6.101873,1990,Q3,5

In [17]:
final_df = yet_another_df.drop(columns=['Period','Quarter'])
final_df.head()

,"Financial obligations ratio, seasonally adjusted","Consumer debt service ratio, seasonally adjusted","Debt service ratio, seasonally adjusted","Mortgage debt service ratio, seasonally adjusted",Year,Month
0,16.900919,5.635607,11.649150,6.013543,1990,1
1,16.875752,5.540660,11.600660,6.060000,1990,2
2,16.875752,5.540660,11.600660,6.060000,1990,3
3,16.875752,5.540660,11.600660,6.060000,1990,4
4,16.888249,5.481259,11.583131,6.101873,1990,5

In [18]:
final_df['Month'] = final_df['Month'].map({'1':'January', 
                                '2':'February',
                                '3':'March',
                                '4':'April',
                                '5':'May',
                                '6':'June',
                                '7':'July',
                                '8':'August',
                                '9':'September',
                                '10':'October',
                                '11':'November',
                                '12':'December',
                                })

In [19]:
final_df.head()

,"Financial obligations ratio, seasonally adjusted","Consumer debt service ratio, seasonally adjusted","Debt service ratio, seasonally adjusted","Mortgage debt service ratio, seasonally adjusted",Year,Month
0,16.900919,5.635607,11.649150,6.013543,1990,January
1,16.875752,5.540660,11.600660,6.060000,1990,February
2,16.875752,5.540660,11.600660,6.060000,1990,March
3,16.875752,5.540660,11.600660,6.060000,1990,April
4,16.888249,5.481259,11.583131,6.101873,1990,May

In [21]:
final_df.to_csv("Clean Data/FinancialCleaned.csv", index=False, header=True)